.auth-page {
    h1 {
        text-align: center;
        margin-bottom: 1rem;
    }

    .form {
        max-width: 400px;
        margin: 0 auto;

        button {
            display: block;
            margin: 0 auto;
        }
    }
}
