.edit-product {
    h2 {
        margin-bottom: 1rem;
        text-align: center;
    }

    .form {
        max-width: 500px;
        margin: 0 auto;

        button {
            display: block;
            margin: 0 auto;
        }
    }
}
