.orders {
    margin-top: 1rem;
    max-width: 768px;

    .order {
        margin-bottom: 1rem;

        &:last-of-type {
            margin-bottom: 0;
        }

        &__actions {
            margin-top: 0.4rem;

            .btn {
                display: inline-block;
                margin-right: 4px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}
