.btn {
    display: inline-block;
    padding: 6px 0.8rem;
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 5px;
    font-size: 0.9rem;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        filter: brightness(92%);
    }

    &--small {
        font-size: 0.7rem;
        padding: 3px 0.5rem;
    }

    &--red {
        background-color: var(--red);
    }
}
